@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 0 50px;
}

/* **** COLOR PALETTE ***** */

.color-pixel {
  display: flex;  
  justify-content: center;
}

.color {
  margin: 0 20px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  list-style-type: none;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}

/* **** PIXEL BOARD ***** */

.section-board-size {
  margin: 50px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-label {
  font-size: 1.5rem;
}

.board-size {
  width: 40px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.board-size:focus, .show-board:focus {
  outline: none;
}

.show-board {
  margin: 20px;
  padding: 10px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(44, 88, 97);
  color: rgb(255, 254, 254);
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}

.show-board:hover {
  background-color: rgb(38, 74, 95);
}

.show-board:active, .color:active, #clear:active {
  transform: scale(1.1);
}

.section-board {
  display: none;
}

.pixel-board {
  display: flex;
}

.pixel {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
}

#clear {
  margin: 20px;
  padding: 10px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(95, 48, 48);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}

#clear:hover {
  background-color: rgb(112, 18, 18);
}

